.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #7c99ac;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #d3dedc;
    display: block;
    transition: 0.3s;
}

.sidebar .active {
    color: white;
    font-weight: 500;
}

.sidebar a:hover {
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main,
.navbar {
    transition: margin-left 0.5s;
    padding: 20px;
}

#btn {
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
        width: 150px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
